* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Corrigido box-sizing */
}

:root {
    --hue: 194;
    --bg-color: hsl(var(--hue), 5%, 7%);
    --text-color: hsl(var(--hue), 40%, 98%);
    --primary-color: hsl(var(--hue), 100%, 63%);
    --controls-bg-color: hsl(var(--hue), 0%, 14%);
    font-size: clamp(40%, 1% + 2vw, 62.5%);
    --button-secondary: hsl(var(--hue), 40%, 98%); /* Corrigido nome da variável */
}

html.light {
    --text-color: hsl(var(--hue), 5%, 7%);
    --bg-color: hsl(var(--hue), 40%, 98%);
    --controls-bg-color: hsl(var(--hue), 0%, 14%);
}

html.light .ph-sun,
html:not(.light) .ph-moon {
    display: none;
}

.running .ph-play-circle,   
.running .ph-timer, 
.music-on .ph-speaker-none,
html:not(.running) .ph-pause-circle,
html:not(.running) .ph-stop-circle,
html:not(.music-on) .ph-speaker-high {
    display: none;
}

#toggle-mode {
    position: absolute;
    right: 3.2rem;
    top: 3.2rem;
    font-size: 5rem;
    line-height: 0;
    color: var(--text-color);
}

.sr-only {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
    margin: -1px;
    padding: 0px;
    border: 0px;
    appearance: none;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: grid;
    place-content: center;
    height: 100vh;
}

#app {
    display: grid;
    justify-content: center;
}

.flex {
    display: flex;
}

#timer {
    font-size: 9.6rem;
    font-weight: bold;
    font-family: sans-serif;
    justify-content: center;
}

#controls {
    margin-top: 2.2rem;
    gap: 2rem;
    background-color: var(--controls-bg-color);
    border-radius: 999rem;
    justify-content: center;
}

button {
    background-color: transparent;
    border: 0;
    color: var(--primary-color);
    margin: 2.2rem;
    cursor: pointer;
    font-size: 6.4rem;
}

.secondary {
    color: var(--button-secondary); /* Corrigido nome da variável */
}
